@import "./styles/example.scss";

#main {
    color: purple;
}

body {
    background-color: #1a244d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style for the header container */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #333;
    padding: 10px;
}

/* Style for the logo */
.logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Style for the navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    font-size: 16px; /* Adjust the font size as needed */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #ffcc57;
}

.navbar li a:hover {
    background-color: #555; 
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}


/* Add this to your main.css file or in a <style> tag in your HTML */
.results-container {
    display: flex;
    justify-content: space-between;
}

.pie-chart {
    width: 50%;
}

.text-results {
    width: 45%; /* Adjust this width to your preference */
    text-align: center; /* Align text to the right */
    padding: 20px; /* Add some padding to give it space and style */
    border: 1px solid #ccc; /* Add a border for separation and style */
    // background-color: #f9f9f9; /* Set a background color to differentiate from the charts */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for depth */
}


.pie-chart canvas {
    width: 50%;
    height: 50%;
    max-width: 400px; /* Set a maximum width if needed */
    max-height: 400px; /* Set a maximum height if needed */
}

/* Add this to your main.css file or in a <style> tag in your HTML */
.bar-graph-container {
    display: flex;
    justify-content: space-between; /* To space them equally on the screen */
}

.bar-graph {
    flex: 1; /* Each bar graph takes up an equal part of the available space */
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
}

.bar-graph canvas {
    width: 100%;
    height: 400px;
}

.bar-graph form {
    // background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.calculate-button {
    text-align: center;
    margin-top: 20px;
}

#calculateReturnsButton {
    background-color: #ffcc57;
    color: white;
    font-weight: bold;
    padding: 10px 15px; /* Reduced width */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#calculateReturnsButton:hover {
    background-color: #0056b3;
}

input {
    background-color: #1a244d;
    color: white;
    border: 1px solid gold;
}

