@import "./styles/example.scss";

#main {
    color: purple;
}

.navbar {
    // background-color: #333;
    overflow: hidden;
    text-align: right;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block; /* Use display: inline-block to align list items horizontally */
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: skyblue;
}

.navbar li a:hover {
    background-color: #555;
}